<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="pagination-newer-posts" href="{{page_url prev}}">&larr;</a>
    {{else}}
        <span class="pagination-spacer"></span>
    {{/if}}

    <span class="pagination-page-number">{{page}} / {{pages}}</span>

    {{#if next}}
        <a class="pagination-older-posts" href="{{page_url next}}">&rarr;</a>
    {{else}}
        <span class="pagination-spacer"></span>
    {{/if}}
</nav>